// EmacsFood: an Emacs Lisp package server.
// Copyright (C) 2016 EmacsFodder

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

#start
  span.intro EmacsFood is an archive an Emacs Lisp meta-packages.
    :markdown
      ### What is are EmacsFood meta-packages?

      A meta-package is basically a plain old ELPA package, except it's purpose is to
      install and configure a number of other regular ELPA packages.

      Conceptually they are similar to (and inspired by) Spacemacs configuration layers.

      For example, the Spacemacs git layer would be comparable to the
      EmacsFood git meta-package, and vice-versa. They may or may not
      provide the same packages / defaults.

      ## Contributions

      To contribute a meta-package fork the project on github:

      **TODO** (We'll use a MELPA style recipe/build to static server)

      We also hope that contributors will provide alternative
      meta-packages so that a variety of strategies to configure an
      aspect of Emacs, exist and are easily interchanged by switching
      between similar meta-packages.

      ## Starter Kits and Shared Emacs Configs

      If you are thinking about, or currently provide a shared config,
      or starter kit for Emacs. We also encourage you to consider
      providing it as a meta-package (or collection of meta-packages)
      either here on EmacsFood or on your own ELPA server. Feel free
      to fork us.

      ## About EmacsFood

      EmacsFood is **Fully compatible** with `package.el` and
      [ELPA](http://tromey.com/elpa/) and is **Open source**, so [you
      can help improve it](https://github.com/emacsfodder/emacsfood/)

  span.intro To start using EmacsFood,
    :markdown
      - Use with Emacs 24.x and up.
      - Add to your `package-archives` list:

              (add-to-list 'package-archives '("emacsfood" . "http://#{hostname}/packages/"))

#packages
  :markdown
    To add a new meta package, submit a pull request with a new emacs lisp package definition.

    [List of Meta Packages](/packages)
